h1 {
    color: rgb(116, 201, 235);
}
h2 {
    color: white;
}




/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-image:linear-gradient(#0c82f7, rgb(116, 201, 235));
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    }
    
    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    form li + li {
    margin-top: 1em;
    }
    
    label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    }
    
    input,
    textarea {
    /* To make sure that all text fields have the same font settings
    By default, textareas have a monospace font */
    font: 1em sans-serif;
    
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    
    /* Match form field borders */
    border: 1px solid #999;
    }
    
    input:focus,
    textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
    }
    
    textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    
    /* Provide space to type some text */
    height: 5em;
    }
    
    .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
    }
    
    button {
    /* This extra margin represent roughly the same space as the space
    between the labels and their text fields */
    margin-left: .5em;
    }
.pakreisi {
     color: white;
 }
 .palabi {
     font-size: 20px;
 }

 .neesi {
     color: black;
     text-align: right;
 }

 h3 {
     color: rgb(75, 183, 234);
 }

 .kluda {
    background-color: rgb(229, 66, 66);
    color: white;
    border: 0ch;
    
}
img {
    position: bottom;top: 5px; left: 30px; width: 200px; height: 200px;

  }

  .form1 {
      position: bottom;
  }

